.colors {
    #fafafa, #FFF;
    #cfcfcf, #CCC;
    #a9a9a9, #AAA;
    #898989, #888;
    #717171, #777;
    #646464,
    #535353, #555;
    #373737, #333;
    #292929, #222;
    #1d1d1d, #222;
    #131313, #111;
    #070707, #000;
/* --- --- --- --- --- */
    #ffdf33, #FD3;
/* --- --- --- --- std */    
==*:#ffd700, #FD0;/**/
---:#daa520, #DA2;
    #b8860b, #B81;
/* --- --- --- --- --- */
==*:#00a8ff, #0AF;/**/
/* --- --- --- --- --- */
    #e974ff, #E7F;
==*:#e34dff, #D5F;/**/
    #df33ff, #D3F;
/* --- --- --- --- std */
    #d700ff, #D0F;
    #a520da, #A2D; 
    #860bb8, #81B;
/* --- --- --- --- --- */
==*:#ff62a2, #F6A;/**/
/* --- --- --- --- std */    
--x:#ff0028, #F02;
    #da2055, #D25;
    #b80b3d, #B14;
/* --- --- --- --- --- */
==*:#a8ff00, #AF0;/**/
    #b2da20, #AD2;
    #94b80b, #9B1;
/* --- --- --- --- --- */
==*:#00ffd7, #0FD;/**/
--x:#20daa5, #2DA;
    #0bb886, #1B8;
/* --- --- --- --- off */
--x:#ff894d, #F85;
    #ff7c39,
--x:#f44747
}